/* heading styles start */
body {
    margin: 0px;
    padding: 0;
}

.header {
    background-color: #FF900E1A;
}

.nav-line {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    padding-top: 30px;
    margin-right: 200px;
}

.upper-work {
    margin-left: 200px;
    margin-right: 200px;
    row-gap: 20px;
    color: #131313;
}

.title {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

.navbar ul {
    color: Dark 02;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    color: #424242;
    width: 477px;
    height: 26px;
    font-family: sans-serif;
    padding: 20px 20px;
    font-weight: 500;
}

.navbar a:hover {
    background-color: rgba(255, 255, 0, 0.543);
    border-radius: 10px;
}

.heading-title {
    text-align: center;
    color: solid #131313;
    font-weight: 700;
    font-size: 55px;
    margin-top: 120px;
    margin-bottom: 0;
}

.heading-title-exp {
    font-family: sans-serif;
    Font-style: regular;
    Font-size: 18px;
    color: #727272;
    margin-bottom: 31px;
    margin-top: 0px;
}

.explore-button {
    background-color: #FF900E;
    color: whitesmoke;
    border-style: none;
    border-radius: 5px;
    padding: 20px;
    margin-top: 32px;
    margin-bottom: 50px;
    width: 150;
    font-weight: 700;
    font-size: 20px;
}

.intro-image {
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 70px;
}

.img-banner {
    width: 100%;
}

/* Heading styles end... */
/* body section styles start */
.teams>div {
    flex: 1;
}

.images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 340px;
    height: 336px;
    padding-top: 50px;
    margin-left: 250px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.image-title {
    width: 550px;
    height: 275px;
    padding: 5px;
    margin-left: 430px;
    margin-right: 150px;
    margin-top: 200px;


}

#image-id {
    font-size: 45px;
}

.quick-list {
    color: #727272;
    font-weight: 300;
}

.features {
    color: #FF900E;
}

. .team-button {
    padding: 20px;
    margin-top: 32px;
    width: 150;
    height: 60px;
    font-weight: 500;
    font-size: 20px;

}

.image-line {
    display: flex;
    justify-content: space-between;
}

/* sponsors */
.sponsor {
    text-align: center;
    width: 33%;
    height: 129px;
    margin-top: 390px;
    margin-left: 33%;
    margin-right: 33%;
}

.sponsor-title {
    font-size: 45px;
    font-weight: 700;
}

.sponsor-info {
    color: #727272;
    font-size: 16px;

}

/* sponsor logos */
.sponsor-companies {
    display: flex;
    margin: 0 240px;
    justify-content: space-between;
    margin-top: 50px;

}

.sponsors-name {
    width: 150px;
    height: 50px;
}

/* Footer stytes*/
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(247, 242, 242);
    color: #424242;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 130px;
}